		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color:#BB2234;
		}

		li {
		    float: left;
		}

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 24px 80px;	
		    text-decoration: none;
		}
		li a:hover {
		    background-color:#7E4646;
		}