	ul.menubar {
	    list-style-type: none;
	    margin: 111;
	    padding: 0;
	    overflow: hidden;
	    background-color:#BB2234;
	    height: 60px;
	}

	li.menubar a {
	    float: left;
	    display: block;
	    color: white;
	    text-align: center;
	    text-transform: uppercase;
	    padding: 24px 80px;	
	    text-decoration: none;
	}

	h2 {
		color:#17A646;	
	}
	h4 {
		color:#17A646;	
	}

	li a:hover {
	    background-color:#7E4646;
	}

	.menu {
		color:#8E610B; 
	}
	.subtitle {
		color:#17A646; 
	}
	ul.columnas {
	  columns: 2;
	  -webkit-columns: 2;
	  -moz-columns: 2;
	}
