	ul.menubar {
	    list-style-type: none;
	    margin: 111;
	    padding: 0;
	    overflow: hidden;
	    background-color:#BB2234;
	    height: 60px;
	}

	li.menubar a {
	    float: left;
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 24px 80px;	
	    text-decoration: none;
	}

	h2 {
		style="color:#0BBE0B";	
	}

	li a:hover {
	    background-color:#7E4646;
	}

	.menu {
		color:#8E610B; 
	}